<!-- *ngFor is a kind like html attribute ---- and here it will help us loop through todos ... i know it's kind like wierd :D  -->

<!-- ****** -->

<!-- <ul *ngFor='let todo of todos'>
  <li>{{ todo.title }}</li>
</ul> -->

<!-- since we are looking for making every todo a component we no longer gonna use ul but the selector of todos item -->

<!-- ****** -->

<!-- so we are passing iin todo like a property and if we do so in order to get it as a property we need to add something called input in app-todos-item ts file -->
<!-- we call the function deleteTodo from the child ts file and assign it with another method deleteTodo which we will use in this parent ts file  --- kind like complicated i know -->
<!-- we import then here above the addtodo  -->
<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<app-todos-item 
  *ngFor='let todo of todos'
  [todo]='todo'
  (deleteTodo)="deleteTodo($event)"
  >
</app-todos-item>
