<!-- and here we output the todos -->
<!-- we use [ngClass] to add some css classes based on a behavior of the app -->
<div [ngClass]='setClasses()'>
  <p>
    <!-- we add action like delete and toggle  the (change) is property for catching changes and (click) is property for catching click event  and then we pass in todo which we has access to-->
    <input (change)='onToggle(todo)' type="checkbox" />
    {{ todo.title }}
    <button (click)='onDelete(todo)' class="del">x </button>
  </p>
</div>
