<div>
  <app-header></app-header>
  <!-- in order to get the routing to work we need to change to router explaination in code -->
  <!-- <app-todolist></app-todolist> -->
  <router-outlet></router-outlet>
</div>
