<form class="form" (ngSubmit)='onSubmit()'>
  <!-- then we have to bind the title input to the title property we created in the TS file we use ng which is called ng model and its a two-way data binding --- and name prop in here should have the same name as ng model-->
  <input type="text" name="title" [(ngModel)]='title' placeholder='Add todo...'/>
  <input type='submit' class='btn' value='Submit'>
</form>